.luckiest-font {
  font-family: 'Luckiest Guy', cursive;
}

.navbar-brand {
  font-size: 2em;
  padding: 0;
  margin: 0 3em;
}

main {
  min-height: 75vh;
}

video {
  max-width: 100%;
}

#gifs .btn {
  font-size: 0.85em;
padding-top: 0;
padding-bottom: 0;
}
